html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("./img/topography.svg"),
    linear-gradient(110deg, #f93d66, #6d47d9);
  background-size: 340px, auto;
  background-attachment: fixed;
}

.container {
  position: relative;
  width: 40vw;
  height: 70vh;
}

.img-container-before,
.img-container-after {
  position: absolute;
  width: 40vw;
  height: 70vh;
}

.img-container-before {
  width: 20vw;
  overflow: hidden;
}

img {
  width: 40vw;
  height: 70vh;
  object-fit: cover;
}

.slider {
  width: 0.5rem;
  background: white;
  height: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  pointer-events: none;
}
